<h1>Calculator</h1>


<form action="/home" method="POST">
	<p>You'r first values:<%=@first%> </p>
	<input type="number" name='a'>
	<br/>
	<p>You'r second values:<%=@second%></p>
	<input type="number" name='b'>
	<br/>
	<div class="mb-3">
    <label>Choose move</label>
  <select id='choose' name="choose">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  </div>
	<br/>
  	<button type="submit" class="btn btn-dark">Result</button>
</form>