<h1>Calculator</h1>


<form action="/home" method="POST">
	<p>You'r first values:<%=@first%> </p>
	<input type="integer" name='a'>
	<br/>
	<p>You'r second values:<%=@second%></p>
	<input type="integer" name='b'>
	<br/>
	<p>Choose you you move(+,-,*,/):<%=@symbol %></p>
	<input type="varchar" name='c'>
	<br/>
	<br/>
  	<button type="submit" class="btn btn-dark">Result</button>
</form>